<h2>Select a Movie</h2>

<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search for movies..."
    (keyup.enter)="searchMovies()"
  />
  <button (click)="searchMovies()">Search</button>
</div>

<div class="movies">
  <ul class="movie-list">
    <li *ngFor="let post of filteredMovies">
      <button
        class="movie-button"
        (click)="navigateToSeatSelection(post.id)"
        [attr.aria-label]="'Select ' + post.title"
      >
        <ng-container [ngTemplateOutlet]="post.coverImageBase64 ? withCoverImage : withoutCoverImage"
                      [ngTemplateOutletContext]="{ $implicit: post }">
        </ng-container>
        <p>{{ post.title }}</p>
      </button>
    </li>
  </ul>
</div>

<ng-template #withCoverImage let-post>
  <img [src]="post.coverImageBase64" [alt]="post.title">
</ng-template>

<ng-template #withoutCoverImage let-post>
  <img
    [src]="post.id === 1 ?
      'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcJVeh1QY5mivp7wyeRfF081uMaVyU2wAzww&s' :
      'https://d1csarkz8obe9u.cloudfront.net/posterpreviews/football%2Csoccer%2Csport%2Cevent-design-template-31189bebe42fe7f743327895731b60ae_screen.jpg'"
    [alt]="post.title"
  >
</ng-template>
