<!-- <img src = "https://img.freepik.com/free-vector/bright-yellow-banner-with-halftone-effect_1017-36272.jpg?t=st=1729536650~exp=1729540250~hmac=9f7c9fac4a3eda1baea2707bede5cfb686fdef9b4497cf146aea3a87834d4b24&w=1380" style="width: 100%;"> -->
<div class="home-page">
    <div class="slider">
    <app-touch-slider [images]="images"></app-touch-slider> 
    </div>

    <h1>Featured Movies</h1>
    <div class="feature-movies">
        
        <app-data-display></app-data-display>
    </div>

</div>


<!-- <section class="movie-showings">
    <app-movie-showing
        *ngFor="let movieShowing of movieShowingList"
        [movieShowing]="movieShowing"></app-movie-showing>  
</section> -->