div {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 8rem;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f61e3e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 150px; /* Set a specific width */
  margin: 0 auto; /* Center the button */
}

button:hover {
  background-color: #f61e3e;
}

button:active {
  background-color: #f61e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.message {
  text-align: center;
  color: #f61e3e;
}

.register-link{
  margin-top: 20px;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: #f61e3e;
}

.message {
  background-color: #ffffff; /* Green background for success */
  color: #100a0a;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

/* Add a fade-out effect */
.message.fade-out {
  opacity: 0;
}

